---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/YPBT-app
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dbae1cb039bafb43a32a6c436cc8d96264052dfc4e22e591769e050d114afd31"'
      Last-Modified:
      - Wed, 27 Sep 2017 09:31:53 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1762053687'
      X-Ratelimit-Used:
      - '39'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":104999627,"node_id":"MDEwOlJlcG9zaXRvcnkxMDQ5OTk2Mjc=","name":"YPBT-app","full_name":"soumyaray/YPBT-app","private":false,"owner":{"login":"soumyaray","id":1926704,"node_id":"MDQ6VXNlcjE5MjY3MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/1926704?v=4","gravatar_id":"","url":"https://api.github.com/users/soumyaray","html_url":"https://github.com/soumyaray","followers_url":"https://api.github.com/users/soumyaray/followers","following_url":"https://api.github.com/users/soumyaray/following{/other_user}","gists_url":"https://api.github.com/users/soumyaray/gists{/gist_id}","starred_url":"https://api.github.com/users/soumyaray/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumyaray/subscriptions","organizations_url":"https://api.github.com/users/soumyaray/orgs","repos_url":"https://api.github.com/users/soumyaray/repos","events_url":"https://api.github.com/users/soumyaray/events{/privacy}","received_events_url":"https://api.github.com/users/soumyaray/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/soumyaray/YPBT-app","description":"Tag
        your favorite moments on YouTube Videos.","fork":true,"url":"https://api.github.com/repos/soumyaray/YPBT-app","forks_url":"https://api.github.com/repos/soumyaray/YPBT-app/forks","keys_url":"https://api.github.com/repos/soumyaray/YPBT-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/soumyaray/YPBT-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/soumyaray/YPBT-app/teams","hooks_url":"https://api.github.com/repos/soumyaray/YPBT-app/hooks","issue_events_url":"https://api.github.com/repos/soumyaray/YPBT-app/issues/events{/number}","events_url":"https://api.github.com/repos/soumyaray/YPBT-app/events","assignees_url":"https://api.github.com/repos/soumyaray/YPBT-app/assignees{/user}","branches_url":"https://api.github.com/repos/soumyaray/YPBT-app/branches{/branch}","tags_url":"https://api.github.com/repos/soumyaray/YPBT-app/tags","blobs_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/soumyaray/YPBT-app/statuses/{sha}","languages_url":"https://api.github.com/repos/soumyaray/YPBT-app/languages","stargazers_url":"https://api.github.com/repos/soumyaray/YPBT-app/stargazers","contributors_url":"https://api.github.com/repos/soumyaray/YPBT-app/contributors","subscribers_url":"https://api.github.com/repos/soumyaray/YPBT-app/subscribers","subscription_url":"https://api.github.com/repos/soumyaray/YPBT-app/subscription","commits_url":"https://api.github.com/repos/soumyaray/YPBT-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/soumyaray/YPBT-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/soumyaray/YPBT-app/issues/comments{/number}","contents_url":"https://api.github.com/repos/soumyaray/YPBT-app/contents/{+path}","compare_url":"https://api.github.com/repos/soumyaray/YPBT-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/soumyaray/YPBT-app/merges","archive_url":"https://api.github.com/repos/soumyaray/YPBT-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/soumyaray/YPBT-app/downloads","issues_url":"https://api.github.com/repos/soumyaray/YPBT-app/issues{/number}","pulls_url":"https://api.github.com/repos/soumyaray/YPBT-app/pulls{/number}","milestones_url":"https://api.github.com/repos/soumyaray/YPBT-app/milestones{/number}","notifications_url":"https://api.github.com/repos/soumyaray/YPBT-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/soumyaray/YPBT-app/labels{/name}","releases_url":"https://api.github.com/repos/soumyaray/YPBT-app/releases{/id}","deployments_url":"https://api.github.com/repos/soumyaray/YPBT-app/deployments","created_at":"2017-09-27T09:31:51Z","updated_at":"2017-09-27T09:31:53Z","pushed_at":"2017-01-08T18:39:51Z","git_url":"git://github.com/soumyaray/YPBT-app.git","ssh_url":"git@github.com:soumyaray/YPBT-app.git","clone_url":"https://github.com/soumyaray/YPBT-app.git","svn_url":"https://github.com/soumyaray/YPBT-app","homepage":"http://ypbt-app.herokuapp.com/","size":551,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","parent":{"id":74651168,"node_id":"MDEwOlJlcG9zaXRvcnk3NDY1MTE2OA==","name":"YPBT-app","full_name":"RubyStarts3/YPBT-app","private":false,"owner":{"login":"RubyStarts3","id":22574553,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIyNTc0NTUz","avatar_url":"https://avatars.githubusercontent.com/u/22574553?v=4","gravatar_id":"","url":"https://api.github.com/users/RubyStarts3","html_url":"https://github.com/RubyStarts3","followers_url":"https://api.github.com/users/RubyStarts3/followers","following_url":"https://api.githu[...]
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/YPBT-app/contributors
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d618b8a46c2701b77e709a0d21bc9196319ab7f756b153ec93e93f84c9a928fc"'
      Last-Modified:
      - Wed, 27 Sep 2017 09:31:53 GMT
      X[...]
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/YPBT-app
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - token BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\r\n  \"message\": \"Bad credentials\",\r\n  \"documentation_url\":
        \"https://docs.github.com/rest\",\r\n  \"status\": \"401\"\r\n}"
  recorded_at: Sun, 02 Nov 2025 02:49:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/foobar
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1762053687'
      X-Ratelimit-Used:
      - '41'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository","status":"404"}'
  recorded_at: Sun, 02 Nov 2025 02:49:09 GMT
recorded_with: VCR 6.3.1
